.site-header__inner{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: aliceblue;
  top: 0;
  left: 0;
}
.site-header__box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.item{
  list-style: none;
}
.img{
  width: 300px;
  height: 500px;
}
.movie-list{
  margin-top: 200px;
  display: flex;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}
.home{
  text-align: center;
  padding-left: 900px;
}